.feedback-form {
  position: relative;
  height: 713px;
  background-color: #fff;
  background-image: url('../images/bg-feedback.png');
  //background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;

  &__img {
    position: absolute;
    bottom: 0;
    right: 200px;
    width: 659px;
    height: 796px;
    background: url('../images/doctor.png');
  }
}