.main-slider {
  height: 708px;
  width: 100%;
  background-color: $color-light;

  &__slide {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    height: 100%;
  }
}