.menu-main {
  display: flex;
  justify-content: flex-end;
  padding: 11px 0;

  &-submenu {
    display: none;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      border-right: 1px solid $color-red;
    }
  }

  &__line {
    $width: 30px;

    position: absolute;
    width: $width;
    height: 3px;
    bottom: 0;
    left: calc( 50% - ( #{$width} / 2 ));
    background: $color-active;
  }

  &__link {
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 25px;
    font-size: $font-size-h4;
    text-transform: uppercase;
  }

  &__item:hover  &-submenu {
    position: absolute;
    top: 100%;
    display: block;
  }
}