.section-title {
  position: relative;
  padding-top: 40px;
  margin-bottom: 30px;

  &__shadow {
    position: absolute;
    left: -15px;
    bottom: -10px;
    font-size: $font-size-h2*3;
    text-transform: uppercase;
    color: $color-text-light;
    z-index: 0;
  }
}