.service {
  $image-margin: 20px;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &._image-first &__image {
      order: 1;
  }

  &._image-first &__title {
    order: 2;
  }

  &._image-first &__description {
    order: 3;
  }

  &__image {
    position: relative;
    margin: $image-margin 0 0 0;

    &:before {
      display: block;
      width: 57px;
      height: 30px;
      content: ' ';
      position: absolute;
      left: 0;
      top: 20px;
      background-image: url('../images/arrow-small.png');
      opacity: 0;
      z-index: 2;
      transition: 0.2s ease opacity;
    }
  }

  &._image-first &__image {
    margin: 0 0 $image-margin 0;
  }

  &:hover &__img {
    transform: scale(0.9);
  }

  &:hover &__image:before {
    opacity: 1;
  }

  &__img {
    display: block;
    width: 100%;
    transition: 0.2s ease transform;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-size-h4;
    text-transform: uppercase;
  }
}