.social {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #9f9f9f;
    font-size: 16px;
  }

  .header__top & {
    margin-bottom: $header-top-margin-bottom;
  }
}