<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinasty</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="assets/script/vendor.js"></script>
    <script src="assets/script/script.js"></script>
    <link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
    <div class="wrapper">
        {{> header}}

        <main class="content">
            {{!> main-slider}}
            {{> services}}
            {{> feedback-form}}
            {{> gos-uslugi}}
            {{> reviews}}
            {{> news}}
            {{> oms}}
            {{> rewards}}
            {{> partners}}
            {{> subscribe}}
        </main>

        {{> footer}}
    </div>
</body>
</html>