<div class="achievements">
    {{#each achievements as |achievement|}}
        <div class="achievement">
            <div class="achievements__name">{{achievement.name}}</div>
            <div class="achievements__value">{{achievement.value}}</div>
        </div>
    {{/each}}
</div>