<section class="feedback-form">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form action="" class="form _feedback">
                    <div class="form__title">
                        Для записи на консультацию
                        оставьте заявку и мы свяжемся
                        с Вами в ближайшее время
                    </div>

                    {{> input-container label="* Ваше имя"}}
                    {{> input-container label="* +7 (999) 999-99-99"}}

                    <div class="checkbox">
                        Я даю согласие на получение SMS и e-mail  рассылки
                    </div>

                    Отправляя данную форму, вы подтверждаете свое согласие на обработку вносимых в нее персональных данных. <a href="#">Текст соглашения</a>.

                    <button class="main-button _red">Записаться</button>

                </form>
            </div>
        </div>
    </div>

    <div class="feedback-form__img"></div>
</section>