<footer class="footer">
    <a href="index.html" class="logo">
        <img class="logo__img" src="assets/images/logo.png" alt="Династия">
    </a>

    <div class="footer-menu">
        <div class="footer-menu__title">{{mainMenu.0.name}}</div>

        <ul class="footer-menu__list">
            {{#each mainMenu.0.subMenu as |service|}}
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">{{service.name}}</a>
                </li>
            {{/each}}
        </ul>

        <a href="#">Соглашение об обработке персональных данных</a>
        <a href="#">Политика конфиденциальности</a>
    </div>

    <div class="footer-menu">
        <div class="footer-menu__title">{{mainMenu.2.name}}</div>

        <ul class="footer-menu__list">
            {{#each mainMenu.2.subMenu as |service|}}
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">{{service.name}}</a>
                </li>
            {{/each}}
        </ul>

        <a href="#">База знаний</a>
        <a href="#">Карта сайта</a>
    </div>

    <button class="main-button">Заказать звонок</button>
    <button class="main-button">Оплатить услуги</button>

    <a href="#" class="text-link _big">{{phone}}</a>

    <ul class="social _big">
        {{> socials icon='fa-vk' href='#"'}}
        {{> socials icon='fa-twitter' href='#"'}}
        {{> socials icon='fa-instagram' href='#"'}}
        {{> socials icon='fa-youtube' href='#"'}}
    </ul>

    <div class="footer-contacts">
        {{adress.street}}
        {{adress.post}}, {{adress.country}}, {{adress.city}}
    </div>

    <div class="text"></div>

    <div class="footer-bottom">
        <div class="text">
            © 2017  | {{dinastyFullName}}
        </div>
        <a href="index.html" class="logo-taurus">
            <img class="logo-taurus__img" src="./assets/images/taurus.png" alt="Taurus">
        </a>
    </div>
</footer>