<section class="gos-uslugi">
    Вы, также, можете записаться на приём с
    помощью портала государственных услуг

    <img src="assets/images/gos-uslugi.png" alt="министерства социально-демографической и семейной политики Самарской области">

    <a href="#">перейти на портал</a>
</section>