<header class="header">
    <div class="container-fluid">
        <div class="row header__top">
            <div class="col-md-2">
                <a href="{{href.index}}" class="logo">
                    <img class="logo__img" src="assets/images/logo.png" alt="Династия">
                </a>
            </div>

            <div class="col-md-7">
                <ul class="social">
                    {{> socials icon='fa-vk' href='#"'}}
                    {{> socials icon='fa-twitter' href='#"'}}
                    {{> socials icon='fa-instagram' href='#"'}}
                    {{> socials icon='fa-youtube' href='#"'}}
                </ul>

                <h3 class="title _h3">{{dinastyFullName}}</h3>
            </div>

            <div class="col-md-2">
                <div class="header-contacts">
                    <div class="header-contacts__adress">{{adress.city}}, {{adress.street}}</div>
                    <a href="#" class="header-contacts__phone">{{phone}}</a>
                </div>
            </div>

            <div class="col-md-1">
                <div class="header-block">
                    <a href="#" class="header-block__link">адреса всех клиник</a>

                    <div class="search-form">
                        <input type="text" class="search-form__input">
                        <button class="search-form__button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <button class="accessibility"><i class="fab fa-accessible-icon"></i></button>
                </div>
            </div>
        </div>
        <div class="row justify-content-end header__bottom">
            <div class="col-md-6">
                {{> menu-main}}
            </div>

            <div class="col-md-3">
                <button class="main-button _red">Заказать звонок</button>
                <button class="main-button _white">Оплатить услуги</button>
            </div>
        </div>
    </div>
</header>