{{> section-title text='О нас'}}

<div class="main-slider">
    <div class="main-slider__slide"
         style="background-image: url('assets/images/slide.jpg');">
        1
    </div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
</div>