<ul class="menu-main">
    {{#each mainMenu as |menuItem|}}

        {{#if menuItem.subMenu}}
            <li class="menu-main__item _has-submenu">
                <a href="{{menuItem.href}}" class="menu-main__link">{{menuItem.name}}</a>

                <ul class="menu-main-submenu">
                    {{#each menuItem.subMenu as |subMenuItem|}}
                        <li class="menu-main-submenu__item">
                            <a href="#" class="menu-main-submenu__link">
                                {{subMenuItem.name}}
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <div class="menu-main__line"></div>
            </li>
        {{else}}
            <li class="menu-main__item">
                <a href="{{menuItem.href}}" class="menu-main__link">{{menuItem.name}}</a>
            </li>
        {{/if}}
    {{/each}}
</ul>