<section class="oms">
    {{> section-title text='ОМС'}}

    <img src="assets/images/logo.png" alt="Династия">

    Жители всех регионов России могут
    получить медицинскую помощь в
    нашем центре по полису
    обязательного  медицинского
    страхования (ОМС)
</section>