<section class="partners">
    {{> section-title text='Партнеры'}}

    {{#each partners as |partner|}}
        <div class="partner">
            <img src="{{partner.img}}" alt="{{partner.name}}" class="partner__img">
        </div>
    {{/each}}

</section>