<section class="reviews">
    {{> section-title text='пациенты О НАС'}}

    <div class="reviews-carousel">
        {{#each reviews as |review|}}
            <div class="review">
                <div class="review__title">{{review.title}}</div>
                <div class="review__description">{{{review.text}}}</div>
                <a href="#" class="review_link">{{review.author}} / {{review.date}}</a>
            </div>
        {{/each}}
    </div>

    <a href="#">Читать все отзывы</a>
</section>