<section class="rewards">
    {{> section-title text='Награды'}}

    {{#each rewards as |reward|}}
        <div class="reward">
            <img src="{{reward.img}}" alt="{{reward.name}}" class="reward__img">
        </div>
    {{/each}}

    <div class="rewards-text">
        Обласной центр
        репродуктивной медицины
        Династия - лауреат
        международных конкурсов,
        обладатель федеральных и
        международных сертификатов,
        дипломов и других наград.
    </div>

    <a href="#">смотреть все награды</a>
</section>