<section class="subscribe">
    <div class="title">Подписаться на рассылку новостей и специальных предложений Клиники</div>

    {{> input-container label="* Ваше имя"}}
    {{> input-container label="* e-mail"}}

    <button class="main-button">Подписаться</button>

    <div class="">
        Отправляя данную форму, вы подтверждаете свое согласие на обработку вносимых в нее персональных данных.
        <a href="">Текст соглашения</a>.
    </div>
</section>